<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewee:</strong>
  <%= @review.reviewee.email %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer.email %>
</p>

<p>
  <strong>Review:</strong>
  <%= @review.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
